<div class="tabs-container">
  <div [class]="getTabsClasses()" role="tablist">
    <button
      *ngFor="let tab of tabs"
      [class]="getTabClasses(tab)"
      [disabled]="tab.disabled"
      [attr.aria-selected]="tab.id === activeTabId"
      [attr.aria-controls]="'tabpanel-' + tab.id"
      [id]="'tab-' + tab.id"
      role="tab"
      type="button"
      (click)="selectTab(tab.id)"
    >
      <span *ngIf="tab.icon" [class]="'tab-icon ' + tab.icon"></span>
      <span class="tab-label">{{ tab.label }}</span>
    </button>
  </div>

  <div class="tab-panels">
    <ng-content></ng-content>
  </div>
</div>